version: 2.1

jobs:
  build:
    docker:
      - image: 'cimg/node:18.17'
    steps:
      - checkout
      - run:
          name: Install dependencies and build project
          command: npm test -- --watchAll=false
      - sonarcloud/scan

orbs:
  sonarcloud: sonarsource/sonarcloud@2.0.0

workflows:
  main:
    jobs:
      - build:
          context: SonarCloud